<h1>Send a recommendation</h1>

<%= form_with url: doctors_recommendation_path(@doctor_patient), model: @doctor_patient, method: :patch do |form| %>
  <div class="mb-3">
    <%= form.label :recommendation, class: "form-label" %>
    <%= form.text_area :recommendation, class: "form-control" %>
  </div>
  <%= form.submit "Send", class: "btn btn-primary" %>
<% end %>
