<h1>Recommendations</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Patient</th>
      <th scope="col">Recommendation</th>
      <th scope="col">Status</th>
      <th scope="col">Make a recommendation</th>
    </tr>
  </thead>
  <tbody>
    <% @doctor_patients.each do |doctor_patient| %>
      <tr>
        <th scope="row"><%= "#{doctor_patient.patient.user.first_name} #{doctor_patient.patient.user.last_name}" %></th>
        <td><%= doctor_patient.recommendation %></td>
        <td><%= doctor_patient.closed ? "Closed" : "Not closed" %></td>
        <td><%= link_to 'Send', edit_doctors_recommendation_path(doctor_patient) %></td>
      </tr>
    <% end %>
  </tbody>
</table>